<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | NaZabore</title>
        <meta property="og:title" content="NaZabore" />
        <meta property="og:discription" content="Пиши свои мысли на заборе" />
        <!-- <meta property="og:url" content="//www.imdb.com/title/tt0117500/" /> -->
        <meta property="og:image" content="static/images/ogimg.jpg" />
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% include 'decoration/nav.html' %}
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        {% include 'decoration/footer.html' %}
    </body>
</html>